
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.fontStyle {
    font-family: 'Abel', sans-serif;
}

ul a {
    
    color: white !important;
  
    
}

.active{
    color: black !important
}

.navFontStyle {
    font-family: 'Abel', sans-serif;
    font-size: larger;
}


.centerWhite{
    color: white;
    text-align: center;
}
.circle {
    border-radius: 190px;
}


.moveIt{
    position: fixed;
    top: 900px;

}

.area {
   background:transparent ;

   background-color: black;
  
   top: 0;
}
