
.makeAppear:hover {
    opacity: 1 !important;
    background-color: white;
    color: blue;
   
    
    
}

.gitHub:hover {
background-color: black;
border-radius: 90px;

}
.linkedIn:hover {
    background-color: black;
    border-radius: 5px;
    
    
}
.pic:hover {
   opacity: .2;
}

#bookPadding{
    padding: 300px
}

