
#cack:hover{
    opacity: .5 !important;
    color: red
}


.pic:hover {
opacity: .2;
transition: .5s ease;
background-color: black
  
};
/* #cack img{
    color: red
} */

/* .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  } */
  
